:root {
    --color-1: white;
}

/*Basic Config*/
body,
ul,
li,
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px auto;
}

body {
    width: 100%;
    height: 100vh;
    background: whitesmoke;
}

a {
    text-decoration: none;
}

/*Header*/

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--color-1);
    background-color: black;
}

.header h1 {
    padding-left: 20px;
}

.header li {
    list-style: none;
    padding-right: 20px;
}

.header a {
    color: var(--color-1);
    font-size: 18px;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-buttom: 2em;
}

label {
    display: block;
    margin: 0.5rem 0;
    font-family: arial;
}

input {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    border: 1px solid
}



@media (max-width: 320px) {

    .header h1 {
        padding: 0;
    }

    .header li {
        padding-right: 5px;
    }
}

@media (min-width: 375px) and (max-width: 1024px) {
    .header h1 {
        padding: 10px;
    }
}

