:root {
    --color-1: white;
}

/*Basic Config*/
body,
ul,
li,
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px auto;
}

body {
    width: 100%;
    height: 100vh;
    background: whitesmoke;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--color-1);
    background-color: black;
}

.header h1 {
    padding-left: 20px;
}

.header li {
    list-style: none;
    padding-right: 20px;
}

.header a {
    color: var(--color-1);
    font-size: 18px;
}

@media (max-width: 320px) {

    .header h1 {
        padding: 0;
    }

    .header li {
        padding-right: 5px;
    }

    .margin{
      margin-top: 5px;
    }
}

@media (min-width: 375px) and (max-width: 1024px) {
    .header h1 {
        padding: 10px;
    }

    .header li {
        padding-right: 5px;
    }

    .margin{
      margin-top: 5px;
    }
}

@media (min-width: 768px){
    .margin{
        margin-top: -1px;
    }
}


